# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.eggs/*
build/*
builddir/*
develop-eggs/*
dist/*
downloads/*
eggs/*
env/*
lib/*
lib64/*
parts/*
sdist/*
var/*
*.egg-info/*
*.egg
.Python
.installed.cfg
HardcodeTray/const.py
hardcode-tray

# PyInstaller
*.manifest
*.spec
pip-delete-this-directory.txt
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
tags

# Don't accidentally publish your GPG secret keyring
secring.*

# CudaText project files are user-specific
*.cuda-proj

# JetBrains IDEs (IntelliJ IDEA, PyCharm, etc.)
.idea/*
## All but five files are installation-specific
!.idea/InspectionProfiles/profiles_settings.xml
!.idea/*.iml
!.idea/*.ipr
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml

# Kate
## Swap files
.*.kate-swp
.swp.*

# Sublime Text
## Workspace files are user-specific
*.sublime-workspace
## Sublime-GitHub package stores user's GitHub tokens here
GitHub.sublime-settings
## SFTP configuration/credentials file
sftp-config.json
## Package control specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache
## Cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Visual Studio Code
.vscode/*
## All but four files are installation-specific
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Wing IDE
## Separate file for user-specific project configuration
*.wpu
