Source: hardcode-tray
Section: misc
Priority: optional
Maintainer: Peter J. Mello <admin@petermello.net>
Build-Depends: debhelper-compat (= 12), meson (>= 0.40), libgirepository1.0-dev,
 libgtk-3-dev
Standards-Version: 4.5.0
Homepage: https://github.com/bilelmoussaoui/Hardcode-Tray
Vcs-Browser: https://github.com/bilelmoussaoui/Hardcode-Tray
Vcs-Git: https://github.com/bilelmoussaoui/Hardcode-Tray.git
Rules-Requires-Root: no

Package: hardcode-tray
Architecture: all
Depends: python3, python3-gi, gir1.2-rsvg-2.0, librsvg2-bin, gir1.2-gtk-3.0,
 ${misc:Depends}
Suggests: inkscape, sni-qt, python3-cairosvg, libqt4-svg
Description: Fixes Hardcoded tray icons in Linux
 Hardcode-Tray is a python utility that fetches theme icons for
 application tray icons and replaces the hardcoded once, usually
 packaged with Qt or Electron applications.
